---
import { Image } from 'astro:assets'
import GitHub from '../../icons/GitHub.astro'
import Discord from '../../icons/Discord.astro'
import LinkedIn from '../../icons/LinkIn.astro'
import Email from '../../icons/Email.astro'
import SocialPill from '../ui/SocialPill.astro'
import Badge from '../ui/Badge.astro'
---

<article>	
    <span class="text-6xl text-green font-bold "> &#123 </span>
    <div class="flex gap-4 mb-4">
        <Image src="/img/perfil.webp" alt="Angel Cruz Desarrollador Web" height={90} width={90} class="rounded my-5" />
        <Badge>Disponible para trabajar</Badge>
    </div>
    <h1 class="text-3xl md:text-5xl font-bold neon-white">Hola, Soy Angel Cruz</h1>
        <h2 class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300">
            +2 Años de Experiencia. Desarrollador <strong
                >Frontend</strong
                > de CDMX - 🇲🇽 Especializado en el Desarrollo de Aplicaciones Web Personalizadas y Comercio en Linea.
        </h2>
   
    <span class="text-6xl text-green font-bold"> &#125 </span>
</article>
<article>
    <h3 class="text-center font-bold text-xl text-beige">"Programar para crear soluciones no para resolver problemas"</h3>
    <nav class="flex justify-center gap-4 mt-5 flex-wrap">
        <SocialPill href="https://github.com/angelcruz07">
            <GitHub/>
            GitHub 
        </SocialPill >
        <SocialPill href="https://www.linkedin.com/in/angel-cruz079/">
            <LinkedIn/>
            LinkedIn
        </SocialPill>
        <SocialPill href="https://discord.gg/264ZGxbXnM">
            <Discord/>
            Discord
        </SocialPill>
        <SocialPill href="mailto:angelcruzsanchez126@gmail.com">
            <Email />
            Gmail
        </SocialPill>
    </nav>	
</article>