<article class="flex">
    <p class="text-base text-gray-400">
        Mi nombre es Ángel, aunque mis amigos 
        suelen llamarme Alex. A la edad de 13 años, 
        tuve mi primer contacto con la programación al 
        crear una calculadora utilizando <span  class="font-bold neon-white">C++</span> y aprendiendo el S.O Linux. Durante
        mis años de bachillerato, me acerqué aún más a
        la programación y al desarrollo de software.
        Hace algunos meses participe en un concurso con el Youtuber 
        <span class="font-bold neon-white">NateGentile</span>
        estando entre los 4 primeros lugares de todos los estudiantes de su academia
         <span class="font-bold neon-red ">MasterMind</span>, presentando el proyecto
        <span class="font-bold neon-green ">Turismo Sultepec</span>.  
        Mi meta es convertirme en Ingeniero en Sistemas 
        y desarrollarme profesionalmente en el apasionante 
        mundo del desarrollo de software.
    </p>
    <img src="/img/perfil.webp" alt="Logo Angel Cruz" class="w-40 h-45 rounded my-5">
</article>