<footer>
    <div class="w-full text-center p-10">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://flowbite.com/" class="hover:underline">Angel Cruz™</a>
    </span>
    </div>
</footer>
