---
import Link from '../components/Link.astro'
---

<header class="flex mx-auto justify-center  w-full md:w-[1120px] ">
   <nav class="flex flex-row gap-x-5 g-white bg-opacity-50 backdrop-blur-md p-2 rounded-lg fixed z-50 ">
     <Link href="/">Inicio</Link>
     <Link href="#experiencia">Experiencia</Link>
     <Link href="#proyectos">Proyectos</Link>
     <Link href="#sobre-mi">Sobre mi</Link>
   </nav>
</header>