---
import Link from '../components/Link.astro'
---

<header class="flex mx-auto justify-center py-3 w-[1120px] ">
   <nav class="flex flex-row gap-x-5">
     <Link href="#">Inicio</Link>
     <Link href="#">Experiencia</Link>
     <Link href="#">Proyectos</Link>
     <Link href="#">Sobre mi</Link>
     <Link href="#">Skills</Link>
     <Link href="#">Contacto</Link>
     
   </nav>
</header>